*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.img-zoom-container{
	position:relative;
}
.show{
	width: 100%;
	height: auto;
}
.small-img{
	width: 90%;
	height: 56px;
	margin-top: 10px;
	margin:0;
	position: relative;
	left: 25px;
}
.img-zoom-selected{
	border: solid 1px #951b25;
	padding: 2px;
}
.small-img .icon-left, .small-img .icon-right{
	width: 12px;
	height: 24px;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.small-img .icon-left{
	left: -15px;
}
.small-img .icon-right{
	right: -15px;
}
.small-img .icon-left:hover, .small-img .icon-right:hover{
	opacity: .5;
}
.small-container{
	overflow:hidden;
	width: 100%;
	height: 56px;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.small-container div{
	position: relative;
}

.small-container .show-small-img{
	width: auto;
	height: 56px;
	margin-right: 6px;
	cursor: pointer;
	float: left;
}
.small-container .show-small-img:last-of-type{
	margin-right: 0;
}
#img-zoom-mobileViewer{
	display:none;
	position:absolute;
	z-index:11;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:#fff;
}
.img-zoom-mobileViewContainer{
	width:100vw;
	height:85vh;
	overflow:scroll;
	
}
.img-zoom-cover{
	position:absolute;
	background:#fff;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:none;
}
#img-zoom-mobileViewerClose{
	text-align:center;
	position:absolute;
	width:100%;
	height:10vh;
	background:#000;
	color:#FFF;
	padding: 10px 0px 10px 0px;
}